$color__background-body : rgb(255, 255, 255);
$color__background-body-clip : hsl(305, 100%, 50%);
$color__background-main : hsl(0, 0%, 100%);
$color__background-cours : hsl(0, 0%, 100%);
$color__background-header : hsl(0, 0%, 100%);
$color__background-barre : hsl(0, 0%, 100%);
$color__background-footer : hsl(0, 0%, 0%);
$color__background-link : hsl(0, 0%, 100%);
$color__background-link-hover : hsl(305, 100%, 50%);

$color__background-404 : hsl(0, 0%, 100%);

/* ---------------- LIENS */
$color__link : hsl(293, 100%, 50%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(310, 42%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 0%, 100%);
$color__link__footer-hover : hsl(305, 100%, 70%);
$color__link__footer-visited : hsl(293, 78%, 33%);
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : hsl(305, 82%, 68%);
$color__link__header-hover : hsl(291, 45%, 79%);
$color__link__header-visited : hsl(310, 75%, 17%);

/* ---------------- FONT */
$color__font-header : rgb(255, 0, 221);
$color__font-main :rgb(234, 0, 255);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(241, 242, 248);


/*  -------------------   Titre */
$couleur__titre__principale : rgba(192, 23, 214, 0.938);
$couleur__titre__secondaire : rgba(255, 255, 255, 0.938);
$couleur__titre__ternaire : rgba(213, 32, 230, 0.938);
$couleur__paragraphe : rgb(255, 255, 255);

/*  -------------------   bouton */
$couleur__bouton : rgba(138, 14, 132, 0.938);
$couleur__bouton__background : rgba(255, 255, 255, 0.938);
$couleur__bouton--hover : rgba(178, 17, 184, 0.938);
$couleur__bouton__background--hover : rgba(255, 255, 255, 0.938);
$couleur__bouton--current : rgba(255, 0, 242, 0.938);
$couleur__bouton__background--current : rgba(255, 0, 234, 0.938);



$couleur__paragraphe : rgb(0, 0, 0);