.atelier{
    background-color: #bbb;
    display: flex;
    justify-content: center;

    &__resume{}

    &__animateur{}

    &__dateDebut{}
    
    &__dateFin{}

    &__heure{}

    &__JoursSemaine{}

    &__HeureDebut{}

    &__HeureFin{}

    &__DuréeSeance{}

    &__local{}

}